@import "tailwindcss";

@theme {
  --color-brand-50: #fef7ee;
  --color-brand-100: #fdedd6;
  --color-brand-200: #fad7ac;
  --color-brand-300: #f6ba77;
  --color-brand-400: #f19340;
  --color-brand-500: #ed7519;
  --color-brand-600: #de5c0f;
  --color-brand-700: #b8440f;
  --color-brand-800: #933614;
  --color-brand-900: #772f13;
  --color-brand-950: #401508;

  --font-sans: var(--font-geist-sans), system-ui, sans-serif;
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}
